.navbar{
    background-color: #B73C39 ;/* rgb(72, 92, 39); */
    background-size: cover;
    background-position: center;
    height: 100px;
}

/*.navbar img{
    float: right;
    width: 200px;
    height: 100px;
} */
.navbar ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.navbar li{
    float: left;
    margin-left: 170px;   
}

.navbar a{
    color: white;
}

.navbar a:hover{
    background-color: tomato;
    font-size: 18px;
}

#desc{
    text-align: center;
    align-items: center;
}


.pizza-varieties img{
    width: 280px;
    height: 220px;
}

.note{
    text-align: center;
    text-transform: uppercase;  
}

.note p{
    background-color: #39B4B7;
}

.pizza-varieties p:hover{
    font-size: 18px;
    text-decoration: underline;
    color: #39B4B7;
    
}

.pizzacheckbox input{
    margin: 30px;
}
 
#pizzachoiceoptions{
    border: 0.5px solid black;
    padding: 30px;
    margin-top: 30px;
}

.pizzasize{
    display: none;
    text-align: center; 
    align-content: center;
}

.pizzasize p{
    font-size: 12px;
}

.itemquantity{
    width: 50px;
}


.getsubtotal ul li{
    margin-left: 500px;
    list-style: none;
    font-size: 18px;
    font-weight: bold;
    color: #252525;
    overflow: hidden;
}

.getsubtotal ul li span{
    font-weight: bold;
    
}

.gettotal ul li{
    list-style: none;
    font-size: 18px;
    font-weight: bold;
    color: #252525;
    overflow: hidden;
}

.gettotal ul li span{
    font-weight: bold;
    
}

.p-order{
    margin-left: 500px;
    margin-top: 20px;
}
#deliverydetails{
    margin-top: 30px;
    /*border: 0.5px solid black; */
    margin-left: 70px;
    margin-right: 70px;
}
.deliveryoptions{
    margin-left: 200px;
    
}
.checkdeliverylocation{
    display: none;
}
#checkout{
    display: flex;
}

#basket input{
    width: 400px;
    margin-left: 80px;
    
}

#checkout button{
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.deliverycosts{
    display:none;
}

.getdeliverycosts p{
    background-color: #39B4B7;
    font-weight: bold;
}

/*make the type of the price of the pizza clickable */
/*
#pizzachoiceoptions{
    display: none;
} */

#deliverydetails{
    /*border: 1px solid black; */
    height: 150px;
}

.deliveryoptions{
    margin-top: 15px;
}
.checkdeliverylocation{
    margin-top: 10px;
    padding-left: 15px;
}

#deliverydetails button{
    margin-left: 300px;
    margin-top: 15px;
}

.deliveryprices input{
    margin: 10px;
    padding:10px;
}

footer{
    text-align: center;
    font-style: italic;

}
