.navbar{
    background-color: #B73C39 ;/* rgb(72, 92, 39); */
    background-size: cover;
    background-position: center;
    height: 100px;
}

/*.navbar img{
    float: right;
    width: 200px;
    height: 100px;
} */
.navbar ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.navbar li{
    float: left;
    margin-left: 170px;   
}

.navbar a{
    color: white;
}

.navbar a:hover{
    background-color: tomato;
    font-size: 18px;
}

#desc{
    text-align: center;
    align-items: center;
}


.pizza-varieties img{
    width: 280px;
    height: 220px;
}

.note{
    text-align: center;
    text-transform: uppercase;  
}

.note p{
    background-color: #39B4B7;
}
#pizzachoiceoptions{
    border: .5px black solid;
    padding: 30px;
    margin-top: 30px;
}

table{
    border: black 1px solid;
    margin-top: 15px;
    margin-left: 250px;
    padding: 20px;
}

.getsubtotal ul li{
    margin-left: 500px;
    list-style: none;
    font-size: 18px;
    font-weight: bold;
    color: #252525;
    overflow: hidden;
}

.getsubtotal ul li span{
    font-weight: bold;
    
}

.gettotal ul li{
    list-style: none;
    font-size: 18px;
    font-weight: bold;
    color: #252525;
    overflow: hidden;
}

.gettotal ul li span{
    font-weight: bold;
    
}

.p-order{
    margin-left: 500px;
    margin-top: 20px;
}
#deliverydetails{
    margin-top: 30px;
    /*border: 0.5px solid black; */
    margin-left: 70px;
    margin-right: 70px;
}
.deliveryoptions{
    margin-left: 200px;
    
}

#checkout{
    margin-left: 500px;
}
.deliverycosts{
    display:none;
}